{% extends base %}

{% block preamble %}
<link rel="stylesheet" href="/demo/static/css/style.css" type="text/css" />
{% endblock %}

{% block postamble %}
<!--<style>-->
<!--.loader {-->
<!--  border: 16px solid #f3f3f3;-->
<!--  border-radius: 50%;-->
<!--  border-top: 16px solid #3498db;-->
<!--  width: 60px;-->
<!--  height: 60px;-->
<!--  -webkit-animation: spin 2s linear infinite; /* Safari */-->
<!--  animation: spin 2s linear infinite;-->
<!--  text-align: center;-->
<!--  color: green;-->
<!--  position: absolute;-->
<!--  top: 50%;-->
<!--  left: 50%;-->
<!--  margin: -25px 0 0 -25px; /* apply negative top and left margins to truly center the element */-->
<!--}-->

<!--/* Safari */-->
<!--@-webkit-keyframes spin {-->
<!--  0% { -webkit-transform: rotate(0deg); }-->
<!--  100% { -webkit-transform: rotate(360deg); }-->
<!--}-->

<!--@keyframes spin {-->
<!--  0% { transform: rotate(0deg); }-->
<!--  100% { transform: rotate(360deg); }-->
<!--}-->

<!--</style>-->
{% endblock %}


{% block contents %}
<div class="loader"></div>

<div class="container body">
  <div class="main_container">

    <!-- page content -->
    <div class="container-fluid" role="main">
        {{ embed(roots.main) }}
    </div>
  </div>
    <!-- /page content -->
</div>

{% endblock %}